<div>
  <div [formGroup]="currencyLeft">
    <label> Валюта №1:
      <input [formControlName]="'value'" type="number">
    </label>
    <select [formControlName]="'type'">
      <option *ngFor="let currency of availableCurrencies" [ngValue]="currency">{{ currency }}</option>
    </select>
  </div>
  <div>
    <button (click)="switchCurrencies()">Switch</button>
  </div>
  <div [formGroup]="currencyRight">
    <label>Валюта №2:
      <input [formControlName]="'value'" type="number">
    </label>
    <select [formControlName]="'type'">
      <option *ngFor="let currency of availableCurrencies" [ngValue]="currency">{{ currency }}</option>
    </select>
  </div>
</div>
<div>
  <span>{{ conversionRate() }}</span>
</div>
